.navbar-expand-md .navbar-nav .nav-link {
  text-align: center;
}

.nav-link {
  line-height: 3;
}

.navbar {
  background-image: linear-gradient(to right, #FACF9D, #FCF9ED);
}

.masthead {
  background-size: cover;
  min-height: 100vh;
  position: relative;
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}